{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager - Update Task</title>
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
    <style>
    body {
        background-color: #f8f9fa; /* Set background color */
    }
    .container {
        background-color: #212529; /* Set container background color */
        color: white; /* Set text color */
        padding: 20px; /* Add some padding for spacing */
        border-radius: 10px; /* Optional: Add border-radius for rounded corners */
        position: relative;
        top:100px
    }
    </style>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1 class="text-center">Update Task</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ task.title }}">
            </div>
            <div class="mb-3">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description">{{ task.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="due_date">Due Date:</label>
                <input type="date" class="form-control" id="due_date" name="due_date" value="{{ task.due_date }}">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="completed" name="completed" {% if task.completed %}checked{% endif %}>
                <label class="form-check-label" for="completed">Completed</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Update Task">
        </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
